.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1180px) {
    .footer__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}