.form-history__photo {
    width: 40%;
    height: auto;
    position: relative;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 740px) {
    .form-history__photo {
        width: 100%;
    }
}