.video__frame_place_popup {
    width: 70vw;
    height: 70vh;
    margin: 30px;
    box-sizing: border-box;
}


@media screen and (max-width: 1160px) {
    .video__frame_place_popup {
        height: 50vh;
    }
    
}


@media screen and (max-width: 860px) {
    .video__frame_place_popup {
        height: 30vh;
    }
    
}

@media screen and (max-width: 1025px) and (max-height: 460px) {
    .video__frame_place_popup {
        width: 50vw;
    }
    
}

