.main-read {
    padding: 0 75px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1441px) {
    .main-read {
        padding: 0 135px 120px;
        }
  }
  
  @media screen and (max-width: 1025px) {
    .main-read {
        padding: 0 127px 100px;
        }
  }
  
  @media screen and (max-width: 940px) {
    .main-read {
        padding: 0 0 50px;
    }
  }