.book {
    width: 240px;
    height: 320px;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
 }

 @media (max-width: 600px) {
    .book {
       width: 200px;
       height: 272px;
       padding: 15px;
    }
}