.paper__link {
    font-family: 'ProtoGrotesk', Georgia, Serif;
    margin: 15px auto 30px;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 1.27;
    color: #224CFF;
    text-decoration: none;
 }
 