.search__input_active {
    display: block;
}




@media screen and (max-width: 1370px) {
    .search__input_active {
        visibility: visible;
        width: calc(100% - 270px);
    }
  }

@media screen and (max-width: 1025px) {
    .search__input_active {
        width: calc(100% - 254px);
        }
}

@media screen and (max-width: 940px) {
    .search__input_active {
        width: calc(95% - 32px);
    }
}
  