.poster__link {
    font-family: 'ProtoGrotesk';
    margin-top: auto;
    text-decoration: none;
    color: #224CFF;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.27;
    letter-spacing: 0.2px;
    text-align: center;
    justify-self: flex-end;
}

@media screen and (max-width: 1025px) {
    .poster__link {
        font-size: 12px;
        line-height: 1.42;
    }
}