.navigation__box-list {
    margin: 0;
    letter-spacing: 0.2px;
    font-size: 15px;
    font-weight: 1.27;
    margin-top: 10px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.navigation__box-list:first-child {
    margin-top: 0;
}