.nav-list__items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

@media screen and (max-width: 1370px) {
    .nav-list__items {
        justify-self: center;
        margin-top: 35px;
        margin-left: 25px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .nav-list__items:first-child {
        margin-left: 0;
    }
}

