.answers-form__title {
  margin: 0 0 20px;
  font-family: 'ProtoGrotesk', serif;
  font-size: 23px;
  line-height: 30px;
  font-weight: 300;
  max-width: 650px;
}
  
@media screen and (max-width: 423px) {
  .answers-form__title {
    font-size: 19px;
    line-height: 1.21;
  }
}