.form-history__date {
    border: none;
    outline: none;
    padding: 13px 20px;
    border-radius: 30px;
    background-color:  #F3F2F2;
    font-family: 'ProtoGrotesk';
    font-weight: 300;
    font-size: 15px;
    line-height: 1.27;
    letter-spacing: 0.2px;
    width: 38%;
    box-sizing: border-box;
    color: rgba(167, 166, 166, 1);
}

@media screen and (max-width: 740px) {
    .form-history__date {
        width: 100%;
        font-size: 12px;
        line-height: 1.42;
    }
}

