.recommendations__posted-text {
    font-family: 'ProtoGrotesk', Georgia, Serif;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
    line-height: 1.3;
    margin: 0;
    width: min(504px, 90%);
 }


 
@media (max-width: 600px) {
    .recommendations__posted-text {
       font-size: 19px;
       line-height: 1.23;
    }
}