.describe-box {
    grid-area: description;
    position: relative;
    margin: 0;
    height: 520px;
    border-radius: 30px;
    background-color: #8CDD94;
}


@media screen and (max-width: 1441px) {
    .describe-box {
        height: auto;
    }
}


@media screen and (max-width: 1025px) {
    .describe-box {
        height: 382px;
    }
}