.answers {
  margin: 0 475px 120px;
  padding: 80px 0 0;
  width: calc(100% - 475px*2);
  font-weight: 300;
  font-size: 23px;
  line-height: 1.30;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
@media screen and (max-width: 1440px) {
  .answers {
    margin: 0 235px 120px;
    padding: 80px 0 0;
    width: calc(100% - 235px*2);
    font-size: 19px;
    line-height: 1.21;
  }
}
  
@media screen and (max-width: 1024px) {
  .answers {
    margin: 0 127px 50px;
    width: calc(100% - 127px*2);
    padding: 80px 0 0;
    
  }
}

@media screen and (max-width: 424px) {
  .answers {
    margin: 0 15px 50px;
    width: calc(100% - 15px*2);
  }
}
  