.answers-set {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
  }

  @media screen and (max-width: 423px) {
    .answers-set {
      padding-bottom: 50px;
    }      
  }