.paper__description-subtitle {
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.36;
    color: #464646;
    margin: 0;   
    padding: 0 25px;
 }


 @media (max-width: 1300px) {
 .paper__description-subtitle {
    font-size: 12px;
    line-height: 1.42;
    margin-bottom: 62px;
 }
}

@media (max-width: 800px) {
    .paper__description-subtitle {
        margin-bottom: 39px;
    }
}