.info-recommendations__text {
    padding: 50px 30px;
    margin: 0;
    font-size: 23px;
    line-height: 1.3;
    font-weight: 300;
    font-style: normal;
    text-align: center;
 }

 @media (max-width: 800px) {
    .info-recommendations__text {
       font-size: 19px;
       line-height: 1.21;
       padding: 30px 15px;
    }
 }