.search {
  height: 20px;
  width:100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
}


@media screen and (max-width: 1370px) {
  .search {
    flex-direction: row;
  }
}
