.recommendations-form__label_type_boy {
    grid-area: boy;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    background-color:#F3F2F2;
    border-radius: 30px;
    padding: 13px 0 16px 60px;
    width: 100%;
    box-sizing: border-box;
    color: #A7A6A6;
 }