@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('./header.css');
@import url('./footer.css');



@import url('../blocks/title/title.css');
@import url('../blocks/where-to-go-page/where-to-go-page.css');
@import url('../blocks/filter/filter.css');
@import url('../blocks/filter/__button/filter__button.css');
@import url('../blocks/filter/__button/_active/filter__button_active.css');
@import url('../blocks/paper-text/paper-text.css');
@import url('../blocks/paper-text/_size/paper-text_size_mini.css');
@import url('../blocks/paper-text/__paragraph/paper-text__paragraph.css');
@import url('../blocks/paper-text/__text/paper-text__text.css');
@import url('../blocks/paper-text/__title/paper-text__title.css');
@import url('../blocks/paper-text/__title/_size/paper-text__title_size_mini.css');
@import url('../blocks/paper-text/__wrapper/_size/paper-text__wrapper_size_max.css');
@import url('../blocks/paper-text/__wrapper/_size/paper-text__wrapper_size_mini.css');
@import url('../blocks/paper/paper.css');
@import url('../blocks/paper/_size/paper_size_max.css');
@import url('../blocks/paper/_size/paper_size_mini.css');
@import url('../blocks/paper/_place/paper_place_index.css');
@import url('../blocks/paper/__annotation/paper__annotation.css');
@import url('../blocks/paper/__caption/paper__caption.css');
@import url('../blocks/paper/__container/paper__container.css');
@import url('../blocks/paper/__description-image/paper__description-image.css');
@import url('../blocks/paper/__description-info/paper__description-info.css');
@import url('../blocks/paper/__description-link/paper__description-link.css');
@import url('../blocks/paper/__description-link/_size/paper__description-link_size_mini.css');
@import url('../blocks/paper/__description-link/_invisible/paper__description-link_invisible.css');
@import url('../blocks/paper/__description-mark/paper__description-mark.css');
@import url('../blocks/paper/__description-mark/_invisible/paper__description-mark_invisible.css');
@import url('../blocks/paper/__description-mark/_size/paper__description-mark_size_mini.css');
@import url('../blocks/paper/__description-subtitle/paper__description-subtitle.css');
@import url('../blocks/paper/__description-title/paper__description-title.css');
@import url('../blocks/paper/__description/paper__description.css');
@import url('../blocks/paper/__description/_color/paper__description_color_green.css');
@import url('../blocks/paper/__description/_color/paper__description_color_orange.css');
@import url('../blocks/paper/__description/_color/paper__description_color_yellow.css');
@import url('../blocks/paper/__description/_size/paper__description_size_max.css');
@import url('../blocks/paper/__description/_size/paper__description_size_mini.css');
@import url('../blocks/paper/__image/paper__image.css');
@import url('../blocks/paper/__items/paper__items.css');
@import url('../blocks/paper/__link/paper__link.css');
@import url('../blocks/paper/__mark/paper__mark.css');
@import url('../blocks/paper/__paragraph/paper__paragraph.css');
@import url('../blocks/paper/__paragraphs/paper__paragraphs.css');
@import url('../blocks/paper/__subtitle/paper__subtitle.css');
@import url('../blocks/paper/__title/paper__title.css');







@import url('../blocks/page/page.css');
@import url('../blocks/where-to-go-page.css');
@import url('../blocks/filter.css');
@import url('../blocks/paper.css');






