.meeting__description {
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 832px) {
    .meeting__description {
        width: 100%;
    }
}