.profile_place_account {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 30px;
}


@media screen and (max-width: 1370px) {
    .profile_place_account {
        display: none;
    }
}