.paper__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 80px;
    margin: 80px auto;
    align-items: start;
    justify-items: center;
    width: calc(100% - 150px);
 }

 @media (max-width: 1300px) {
    .paper__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 50px auto;
        width: calc(100% - 254px);
     }
 }

 @media (max-width: 800px) {
    .paper__container {
       grid-template-columns: 1fr;
       gap: 30px;
       margin: 30px auto;
       width: calc(100% - 30px);
    }
}