.additional-info__title {
  margin: 0;
  padding: 45px 200px;
  border-radius: 70px;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.3;
  display: flex;
  justify-content: center;
}
  
@media screen and (max-width: 1919px) {
  .additional-info__title {
    padding: 45px 97px;
  }
}
  
@media screen and (max-width: 423px) {
  .additional-info__title {
    padding: 24px 75px 23px;
  }
}