.nav-list__submenu-item {
    margin: 10px 35px 10px 0;
    letter-spacing: 0.2px;
    font-size: 15px;
    font-weight: 1.27;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.nav-list__submenu-item:last-child {
    margin-bottom: 0;
}

.nav-list__submenu-item:hover {
    color: #224CFF;
}
