.filter__button-next {
   background: transparent url('../../../images/arrow_right.svg') no-repeat;
   width: 35px;
   height: 35px;
   background-size: contain;
   outline: none;
   border: none;
   margin-left: 15px;
   filter: grayscale(1);
}