.calendar-modal {
  position: relative;
  margin: 0 auto;
  background: #fff;
  color: #000;
  border-radius: 30px;
  margin: 0 135px 0;
  max-width: 770px;
}
  
  @media screen and (max-width: 1439px) {
    .calendar-modal {
      margin: 0 127px 0;
      max-width: calc(100% - 127px*2);
    }
  }

  @media screen and (max-width: 1024px) {
    .calendar-modal {
      margin: 0 110px 0;
      max-width: calc(100% - 110px*2);
    }
  }
  
  @media screen and (max-width: 768px) {
    .calendar-modal {
      margin: 0 45px 0;
      max-width: calc(100% - 45px*2);
    }
  }
  
  @media screen and (max-width: 420px) {
    .calendar-modal {
      margin: 0 15px 0;
      max-width: calc(100% - 15px*2);
    }
  }

.calendar-modal__close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  background: url('../images/calendar-modal__close-button.svg') no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
    .calendar-modal__close-button {
      top: 15px;
      right: 15px;
    }
  }

.calendar-modal__content {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .calendar-modal__content  {
    padding: 60px 45px 30px;
  }
}

@media screen and (max-width: 420px) {
  .calendar-modal__content {
    padding: 60px 15px 30px;
  }
}

.event__additional-info-item_place_modal {
  margin-bottom: 11px;
  padding-bottom: 11px;
}

.calendar-modal__description {
  margin: 0 0 30px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.44;
  color: #1A1A1A;
  text-align: justify;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 420px) {
  .calendar-modal__description {
    font-size: 12px;
    line-height: 1.42;
  }
}

.event__signup-container_place_confirmation {
  margin: 30px auto 0;
}

.event__participants-counter_place_modal {
  margin-left: 20px;
}

.calendar-modal__content_place_confirmation {
  padding: 251px 100px;
}

@media screen and (max-width: 1023px) {
  .calendar-modal__content_place_confirmation {
    padding: 150px 45px;
  }
}

@media screen and (max-width: 420px) {
  .calendar-modal__content_place_confirmation {
    padding: 60px 15px;
  }
}

.calendar-modal__content_place_after-confirmation {
  padding: 80px 100px 133px;
}

@media screen and (max-width: 1023px) {
  .calendar-modal__content_place_after-confirmation {
    padding: 40px 45px 60px;
  }
}

@media screen and (max-width: 420px) {
  .calendar-modal__content_place_after-confirmation {
    padding: 20px 15px 30px;
  }
}

.event__title_place_after-confirmation:nth-last-of-type(2){
  padding-bottom: 30px;
}

.event__signup-container_place_confirmation {
  display: flex;
  justify-content: center;
  max-width: 320px;
}

.event__signup-container_place_confirmation {
  margin-top: 30px;
}

.event-modal__button_active {
  background: #fff;
  border: 1px solid #000;
  color: #000;
}

.event-modal__button_type_signup {
  margin-right: 15px;
  padding: 6px 15px 5px;
}

.event-modal__button_type_cancel,
.event-modal__button_type_return-to-calendar {
  transition: all .2s ease;
  cursor: pointer;
}

.event-modal__button_type_return-to-calendar {
  margin-top: 30px;
}

.calendar-modal__image {
  margin: 0 auto 30px;
  max-width: 100%;
  min-height: 169px;
  background: url('../images//calendar-modal-decoration.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .calendar-modal__image {
    margin-bottom: 15px;
  }
}

.event-modal__button_type_cancel:hover,
.event-modal__button_type_return-to-calendar:hover {
  background-color: #E0E0E0;;
  border: 1px solid #E0E0E0;;
  color: #000;
}

.event-modal__button_type_cancel:active,
.event-modal__button_type_return-to-calendar:active {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}