.calendar-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 75px 120px;
}

@media screen and (max-width: 1441px) {
  .calendar-page {
      padding: 80px 135px 120px;
      }
}

@media screen and (max-width: 1025px) {
  .calendar-page {

      padding: 40px 127px 100px;
      }
}

@media screen and (max-width: 940px) {
  .calendar-page {
      padding: 40px 15px 50px;
  }
}

