.event_place_index {
  grid-area: event;
}


.event {
  padding: 30px;
  background: #fff;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .event {
    padding: 15px;
  }
}

.event__signed {
    padding: 30px;
    background: #C8D1FF;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .event__signed {
    padding: 15px;
  }
}

.event__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.event__group {
  margin: 0 0 10px;
  min-width: 40%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}

@media screen and (max-width: 1023px) {
  .event__group {
    font-size: 12px;
    line-height: 17px;
  }
}

.event__title {
  margin: 0;
  max-width: 75%;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.30;
  text-align: left;
}

@media screen and (max-width: 1023px) {
  .event__title {
    font-size: 19px;
    line-height: 1.21;
  }  
}

.event__month-and-weekday {
  margin: 0;
  min-width: 40%;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: right;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 1023px) {
  .event__month-and-weekday {
    font-size: 12px;
    line-height: 17px;
  }
}

.event__date {
  margin: 0;
  font-size: 100px;
  font-weight: 300;
  line-height: 1;
  text-align: right;
  letter-spacing: -2px;
}

@media screen and (max-width: 1023px) {
  .event__date {
    font-size: 60px;  
  }  
}

.event__additional-info {
  margin: 50px 0 30px;
  padding: 0;
  list-style: none;
  text-align: left;
}

.event__additional-info-item{
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #1A1A1A;
  border-bottom: 1px solid #A7A6A6;
}

@media screen and (max-width: 1023px) {
  .event__additional-info-item {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
}

.event__additional-info-item:last-child {
  border-bottom: none;
}

.event__controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.event__signup-container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  line-height: 1.27;
}

@media screen and (max-width: 1024px) {
  .event__signup-container {
    font-size: 12px;
    line-height: 1.42;
  }
}

.event__signup-button {
  padding: 13px 20px 8px;
  background: #fff;
  border: 1px solid #224CFF;
  box-sizing: border-box;
  border-radius: 100px;
  color: #224CFF;
  letter-spacing: 0.2px;
}

.event__signup-button_disabled {
  padding: 13px 20px 8px;
  background: #fff;
  border: 1px solid #A7A6A6;
  box-sizing: border-box;
  border-radius: 100px;
  color: #A7A6A6;
  letter-spacing: 0.2px;
}

.event__signup-button_disabled:hover {
  cursor: default;
  transition: none;
}

.event__cancel-button {
  padding: 13px 20px 8px;
  background: #224CFF;
  border: 1px solid #224CFF;
  box-sizing: border-box;
  border-radius: 100px;
  color: #fff;
  letter-spacing: 0.2px;
}

.event__participants-counter {
  margin-left: 10px;
}

.event__details-button {
  padding: 0;
  background: url('../images/event-card__details-button.svg') no-repeat;
  background-size: cover;
  border: none;
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 1023px) {
  .event__details-button {
    width: 40px;
    height: 40px;
  }
}

.opacity-transition {
  transition: opacity .20s ease;
  cursor: pointer;
}
  
.opacity-transition:hover {
  opacity: .5;
}
