.filter {
   display: flex;
   justify-content: center;
   align-items: baseline;
   flex-wrap: nowrap;
   margin-bottom: 15px;
}
.filter__button {
   font-weight: 300;
   font-style: normal;
   font-size: 15px;
   line-height: 1.27;
   letter-spacing: 0.5px;
   outline: none;
   border: 1px solid #000;
   border-radius: 2em / 2em;
   padding: 13px 20px 16px;
}
.filter__button_active {
   background-color: #000;
   color: #F3F2F2;
}