.paper {
   display: flex;
   justify-content: center;
   align-items: stretch;
   margin: 80px auto;
   max-width: 1770px;
   max-height: 629px;
}
.paper_size_max {
   
}
.paper-text {
   width: 585px;
   background-color: #fff;
   border-radius: 2em;
   padding: 34px 15px 69px 30px;
   box-sizing: border-box;
}
.paper-text__title {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.36;
   color: #464646;
   margin-bottom: 105px;
}
.paper-text__text {
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.44;
   max-height: 389px;
   overflow-y: scroll;
}
.paper-text__paragraph {
   margin: 0 0 30px;
}
.paper-text__paragraph:last-child {
   margin: 0;
}
.paper_size_mini {
   flex-direction: column;
}
.paper-text_size_max {

}

.paper-text_size_mini {

}