.popup-recommendations {
   background-color: rgba(0, 0, 0, 0.3);
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: none;
}

.popup-recommendations_open {
   display: flex;
   justify-content: center;
   align-items: center;
}

.popup__form {
   background-color: #fff;
   width: min(770px, calc(100% - 30px));
   height: min(618px, 100vh);
   border-radius: 30px;
   overflow-y: auto;
}
.recommendations-form {
   font-family: 'ProtoGrotesk', Georgia, Serif;
   font-size: 15px;
   line-height: 1.27;
   font-weight: 300;
   font-style: normal;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-areas: 
      "title title title url url url"
      "address address address address address address"
      "boy boy girl girl age age"
      "holiday holiday holiday holiday holiday holiday"
      "comments comments comments comments comments comments"
      "foto foto foto ... ... submit";
      width: min(570px, 95%);
      margin: auto;
      row-gap: 20px;
      column-gap: 30px;
}

.recommendations-form__input {
   background-color:#F3F2F2;
   border-radius: 30px;
   padding: 13px 0 16px 20px;
   width: 100%;
   box-sizing: border-box;
   border: none;
}

.recommendations-form__label_type_title {
   grid-area: title;
}
.recommendations-form__label_type_url {
   grid-area: url;
}
.recommendations-form__label_type_address {
   grid-area: address;
}
.recommendations-form__label_type_boy {
   grid-area: boy;
   position: relative;
   padding-left: 30px;
   cursor: pointer;
   background-color:#F3F2F2;
   border-radius: 30px;
   padding: 13px 0 16px 60px;
   width: 100%;
   box-sizing: border-box;
   color: #A7A6A6;
;
}
.recommendations-form__label_type_girl {
   grid-area: girl;
   position: relative;
   cursor: pointer;
   background-color:#F3F2F2;
   border-radius: 30px;
   padding: 13px 0 16px 60px;
   width: 100%;
   box-sizing: border-box;
   border: none;
   color: #A7A6A6;
}
.recommendations-form__label_type_age {
   grid-area: age;
}
.recommendations-form__label_type_holiday {
   grid-area: holiday;
}
.recommendations-form__input {
}
.recommendations-form__label_type_comments {
   grid-area: comments;
}
.recommendations-form__label_type_foto {
   grid-area: foto;
   height: 48px;
   display: flex;
   align-items: center;
   justify-content: left;
}
.recommendations-form__submit {
   width: 120px;
   height: 48px;
   background-color: #fff;
   padding: 13px 20px 16px;
   box-sizing: border-box;
   border-radius: 30px;
   grid-area: submit;
   justify-self: right;
}

.recommendations-form__submit_type_disabled {
   border: 1px solid #A7A6A6;
   color:#A7A6A6;
}



.recommendations-form:valid .recommendations-form__submit_type_disabled {
   border: 1px solid #224CFF;
   color:#224CFF;
}

.recommendations-form__input_type_comments {
   resize: none;
   min-height: 48px;
}

.recommendations__label .recommendations-form__input[type="radio"] {
   position: absolute;
   opacity: 0;
   width: 0;
   height: 0;
}
.recommendations__radio {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 20px;
   width: 20px;
   height: 20px;
   background: #fff;
   border-radius: 50%;
}

.recommendations__radio::after {
   content: "";
   position: absolute;
   display: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #000;
   width: 10px;
   height: 10px;
   border-radius: 50%;
}
.recommendations-form__input:checked ~ .recommendations__gender-type {
   color: #000;
}
.recommendations-form__input:checked ~ .recommendations__radio::after {
   display: block;
}


.recommendations-form__input:focus {
   outline: none;
}

.recommendations-form__holiday_disabled {
   color:#A7A6A6;
}

.recommendations-form__input_type_holiday {
   appearance: none;
   background: #F3F2F2 url('../images/arrow_up.svg') no-repeat;
   background-position: top 50% right 25px;
}

.recommendations-form__input-add-foto {
   display: none;
}

.recommendations-form__add-foto {
   padding-left: 68px;
   color:#A7A6A6;
   cursor: pointer;
   position: relative;
   align-self: center;
}

.recommendations-form__add-foto::after {
   content: "";
   position: absolute;
   background: url('../images/plus.svg') no-repeat center;
   width: 48px;
   height: 48px;
   transform: translateY(-50%);
   top: 50%;
   left: 0;
   border: 1px solid #a7a6a6;
   border-radius: 50%;
}

.recommendations-form_invalid .recommendations-form__input[required]::-webkit-input-placeholder { /* Chrome */
   color: #FF4E4E;
}
.recommendations-form_invalid .recommendations-form__input[required]:-ms-input-placeholder { /* IE 10+ */
   color: #FF4E4E;
}
.recommendations-form_invalid .recommendations-form__input[required]::-moz-placeholder { /* Firefox 19+ */
   color: #FF4E4E;
   opacity: 1;
}
.recommendations-form_invalid .recommendations-form__input[required]:-moz-placeholder { /* Firefox 4 - 18 */
   color: #FF4E4E;
   opacity: 1;
}

.recommendations-form_invalid .recommendations-form__input[required] {
   color: #FF4E4E;
}

.recommendations-form_invalid .recommendations__gender-type {
   color: #FF4E4E;
}

.recommendations-form_invalid .recommendations-form__add-foto {
   color: #FF4E4E;
}

.recommendations-form_invalid .recommendations-form__add-foto::after {
   border-color: #FF4E4E;
   background-image: url('../images/plus_red.svg');
}

.recommendations-form_invalid .recommendations__radio {
   background: #FF4E4E;
   opacity: 0.2;
}

.recommendations__posted-image {
   background: transparent url('../images/recommendations-form.svg') no-repeat center;
   width: 278px;
   height: 174px;
   margin-top: 80px;
   margin-bottom: 30px;
}

.recommendations__posted-text {
   font-family: 'ProtoGrotesk', Georgia, Serif;
   font-weight: 300;
   font-style: normal;
   font-size: 23px;
   line-height: 1.3;
   margin: 0;
   width: min(504px, 90%);
}

.popup__form_type_posted {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   text-align: center;
   overflow: hidden;
}

@media (max-width: 600px) {
   .recommendations__posted-text {
      font-size: 19px;
      line-height: 1.23;
   }
   .recommendations-form {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
         "title title"
         "url url"
         "address address"
         "boy girl"
         "age age"
         "holiday holiday"
         "comments comments"
         "foto submit";
         row-gap: 10px;
         column-gap: 10px;
         font-size: 12px;
         line-height: 1.42;
   }
   .recommendations-form__input {
      padding: 10px 0 13px 20px;
   }
   .recommendations-form__submit {
      width: 95px;
      height: 40px;
      padding: 11px 15px 12px;
      font-size: 12px;
      line-height: 1.42;
   }
   .recommendations-form__add-foto {
      padding-left: 55px;
   }

   .recommendations-form__add-foto::after {
      width: 40px;
      height: 40px;
   }
}