.section-title {
  font-family: 'ProtoGrotesk', Georgia, Serif;
  margin: 0 auto 40px;
  font-weight: 300;
  font-size: 74px;
  font-style: normal;
  line-height: 1.08;
  text-align: center;
}

@media screen and (max-width: 424px) {
  .section-title {
    font-size: 37px;
    line-height: 1.05;
  }
}