.title {
   font-family: 'ProtoGrotesk', Georgia, Serif;
   margin: 85px auto 40px;
   font-weight: 300;
   font-style: normal;
   font-size: 74px;
   line-height: 1.08;
   text-align: center;
}

@media (max-width: 1300px) {
   .title {
      margin: 49px auto 20px;
      font-size: 37px;
      line-height: 1.05;
   }
}

@media (max-width: 400px) {
   .title {
      margin-top: 29px;
   }
}