.title {
   font-family: 'ProtoGrotesk', Georgia, Serif;
   margin: 0 auto 40px;
   font-weight: 300;
   font-style: normal;
   font-size: 74px;
   line-height: 1.08;
   text-align: center;
}

@media (max-width: 1300px) {
   .title {
      margin-bottom: 20px;
      font-size: 37px;
      line-height: 1.05;
   }
}