.cities__item {
    font-family: 'ProtoGrotesk';
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.27;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

/* .cities__item:last-child {
    margin-bottom: 0;
} */
