.footer__author {
    color: #F3F2F2;
    font-size: 18px;
    line-height: 1.44;
    text-align: center;
    margin: 0;
    text-align: center;
}


@media screen and (max-width: 1180px) {
    .footer__author {
        color: #F3F2F2;
        font-size: 18px;
        line-height: 1.44;
        margin: 0;
        margin-left: 30px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 1025px) {
    .footer__author {
        font-size: 12px;
        line-height: 1.42;
        letter-spacing: 0.2px;
    }
}

@media screen and (max-width: 440px) {
    .footer__author {
        margin-left: 0;
    }
}