.iframe-social {
    grid-area: frame;
    height: 627px;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    object-fit:cover;
}

@media screen and (max-width: 630px) {
    .iframe-social {
        margin: 0 auto;
    }
}

@media screen and (max-width: 545px) {
    .iframe-social {
        width: 100%;
    }
}