.answers__item {
  margin: 0 0 30px 0;
  padding: 50px 50px 47px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100%-100px);
  height: fit-content;
  background: #fff;
  border-radius: 30px;
}

.answers__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1440px) {
  .answers__item {
    padding: 30px 15px 43px;
    width: calc(100% - 15px*2);
  }
}
  