.guide-paper__link {
   position: relative;
   display: inline-block;
   margin: 0 65px 120px 100px;
   align-self: flex-start;
   font-weight: 300;
   font-style: normal;
   font-size: 23px;
   line-height: 1.3;
   color: #224CFF;
   text-decoration: none;
   transition: opacity 0.5s ease;
}

.guide-paper__link:hover {
   opacity: 0.6;
}

.guide-paper__link::after {
   content: "";
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: -100px;
   background: transparent url('../../../images/read_guide_2.jpg') no-repeat;
   background-size: contain;
   border-radius: 50%;
   width: 69px;
   height: 69px;
}

.guide-paper__link::before {
   content: "";
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: -50px;
   background: transparent url('../../../images/arrow_right.svg') no-repeat;
   background-size: contain;
   width: 30px;
   height: 30px;
}

@media (max-width: 1200px) {
   .guide-paper__link {
      font-size: 19px;
      line-height: 1.21;
      margin-bottom: 100px;
   }
   .guide-paper__link::before {
      width: 20px;
      height: 20px;
   }
}

@media (max-width: 800px) {
   .guide-paper__link {
      margin: 30px 55px 50px 85px;
   }
   .guide-paper__link::after {
      left: -85px;
   }
}