.header__right-block {
    display:flex;
    justify-content: space-between;
    align-content: center;
    width: 80px;
    transition: width 1s;
    height: 20px;
}

@media screen and (min-width: 1369px) {
    .header__right-block {
        margin-left: 77px;
    }
  }
