.read__arrow-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    width: 30px;
    height: 30px;
    background: transparent url('../../../images/arrow_left.svg') no-repeat center;
    background-size: contain;
 }

 @media (max-width: 600px) {
    .read__arrow-left {
        width: 20px;
        height: 20px;
        right: 40px;
     }
 }