
.calendar-modal__close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    background: url('../../../images/close.svg') no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
      .calendar-modal__close-button {
        top: 15px;
        right: 15px;
      }
    }