.header__search {
    width: 45px;
    height: 20px;
    background-image: url('../../../images/ico-search.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
