.profile__city-edit {
    text-decoration: none;
    color: #A7A6A6;
    font-size: 15px;
    line-height: 1.4;
}

.profile__city-edit_place_account {
    font-size: 18px;
    line-height: 1.44;
    margin-right: 30px;
}