.history__quote {
   font-weight: 300;
   font-style: normal;
   font-size: 44px;
   line-height: 1.14;
   margin: 0;
   max-width: 1170px;
   padding: 60px 0;
   text-align: center;
   position: relative;
}

.history__quote::before {
   content: "";
   width: 770px;
   height: 0px;
   border: 1px solid #464646;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}

.history__quote::after {
   content: "";
   width: 770px;
   height: 0px;
   border: 1px solid #464646;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

@media (max-width: 1200px) {
   .history__quote {
      font-size: 23px;
      line-height: 1.3;
      max-width: 770px;
      padding: 30px 0;
   }
   .history__quote::before {
      width: 570px;
   }

   .history__quote::after {
      width: 570px;
   }
}

@media (max-width: 800px) {
   .history__quote {
      max-width: calc(100% - 30px);
   }
   .history__quote::before {
      width: calc(100% - 30px);
   }

   .history__quote::after {
      width: calc(100% - 30px);
   }
}