.filter {
    font-family: 'ProtoGrotesk', Georgia, Serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    overflow: hidden;
}

@media screen and (max-width: 1300px) {
    .filter {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .filter {
        justify-content: flex-start;
        align-self: flex-start;
    }
}