.header__profile {
    width: 45px;
    height: 20px;
    background-image: url('../../../images/ico-profile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-left: #A7A6A6 .7px solid;
    cursor: pointer;
}