.read-books__items {
   min-height: 602px;
   background-color: transparent;
   width: 420px;
   border-radius: 30px;
   margin: 0;
   overflow: hidden;
}

@media (max-width: 600px) {
   .read-books__items {
      width: 290px;
   }
}