.header {
    font-family: 'ProtoGrotesk', Georgia, Serif;
    margin: 0 auto;
    padding-bottom: 80px;
    max-width: 1770px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
