.nav-list__item {
    margin: 0;
    margin-left: 30px;
}

.nav-list__item:first-child {
    margin-left: 0;
}

@media screen and (max-width: 1370px) {
    .nav-list__item {
        margin-left: 0;
        margin-top: 15px;
    }
}
